build/*
release/AICAD.exe
release/AICAD.moc
release/AICAD.obj
release/moc_predefs.h
Makefile.Debug
Makefile.Release
Makefile
.qmake.stash
AICAD.creator.user
AICAD.pro.user
AICAD.pro.user.07bfa79
AICAD.pro.user
